<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="gui.css"/>
		<title>My GUI</title>
	</head>
	<body>
		<main>
			<button type="button" data-type="key"    data-key="A">a</button>
			<button type="button" data-type="key"    data-key="LShift+B">B</button>
			<button type="button" data-type="button" data-vjoy="1" data-number="1">1</button>
			<button type="button" data-type="button" data-vjoy="1" data-number="2">2</button>
			<input type="range" data-type="axis" data-vjoy="1" data-number="1"/>
		</main>
		<script src="gui.js"></script>
	</body>
</html>